* {
    margin: 0;
    padding: 0;
}

.hvr-up a:hover {
    color: rgb(6, 53, 6) !important;
    transition: 700ms !important;
}

.menu-hvr:hover {
    color: #01ae6e !important;
    transition: 500ms !important;
}

.scrh:focus {
    outline-color: #01ae6e;
}

.menu {
    position: relative;
}

.Product-hvr {
    position: absolute;
    top: 100%;
    left: 68px;
    background-color: #ffffff;
    width: 75em;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px #000;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    transition: 700ms;
}

.drp-category li:hover .Product-hvr {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    z-index: 9;
}

/*Login Button Style*/

.dropdown-menu {
    position: absolute !important;
    top: 54px !important;
    left: -140px !important;
    width: 14em !important;
    background-color: #ffffff !important;
    z-index: 1 !important;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #fff !important;
}

.dropdown {
    position: relative !important;
    padding: 7px !important;
}

.dropdown button {
    padding: 13px 16px;
    border-radius: 3px;
}

.dropdown-toggle i {
    font-size: 14px !important;
}
.dropdown-toggle i:focus {
    background-color: #01ae6e !important;
    color: #fff !important;
}


.safe-way {
    background: url(image//Banner//banner_2040x.jpg) no-repeat center top;
    padding: 100px 0;
}

/* New Arrival style */

.new-arrivel {
    position: relative;
}

.mosa {
    position: absolute;
    top: 70px;
    left: 0;
}

.arv-btn a:hover {
    color: #01ae6e !important;
    border-bottom: 1px solid #01ae6e !important;
    transition: 500ms !important;  
}

/* Product Item style */

.Product-item > a {
    position: relative;
    display: block;
}

    .Product-item > a::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        height: 100%;
        width: 100%;
        background-color: #01ae6e33;
        opacity: 0;
        visibility: hidden;
        transform: scaleX();
        transform-origin: bottom center;
        transition: 500ms;
    }

.Product-item:hover a::after {
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
}


.Product-item:hover span a {
    color: #01ae6e !important;
    transition: 500ms;
}


@media only screen and (max-width: 992px) {

    .Product-item > a {
        position: relative;
        display: block;
    }

        .Product-item > a::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 0;
            height: 100%;
            width: 100%;
            background-color: #01ae6e33;
            opacity: 0;
            visibility: hidden;
            transform: scaleX();
            transform-origin: bottom center;
            transition: 500ms;
        }

    .Product-item:hover a::after {
        opacity: 1;
        visibility: visible;
        transform: scaleX(1);
    }


    .Product-item:hover span a {
        color: #01ae6e !important;
        transition: 500ms;
    }
}

/* customer says style */

.custommer-says {
    background: url(image/Banner/banner-2_1728x.jpg) no-repeat fixed;
    /*background: url(/image/Banner/banner-2_1728x.jpg) no-repeat fixed;*/
    padding: 50px 0;
}

.testimonial-item {
    border: 5px solid #000;
    transition: 300ms;
}

.testimonial:hover .testimonial-item {
    border: 5px solid #01ae6e;
}

.frm {
    position: relative;
}

.src {
    position: absolute;
    top: -2px;
    right: 83px;
}

@media (max-width:1200px) {
    .frm {
        position: relative;
        width: 20rem;
    }

    .src {
        position: absolute;
        top: -2px;
        right: 60px;
    }
}

/*Deopdown Menu Responsive */

@media only screen and (max-width:576px) {
    .dropdown-menu {
        position: absolute !important;
        top: 54px !important;
        left: 0 !important;
    }
}

@media only screen and (max-width:320px) {
    .dropdown-menu {
        position: absolute !important;
        top: 54px !important;
        left: -25px !important;
    }
}








.protfolio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 700ms;
}

    .protfolio img:hover {
        transform: scale(1.2);
    }

.about-section {
    text-align: justify !important;
}

/* safe-section */

.safe-section {
    background: url(image/About-Image/Safe-banner.jpg) no-repeat center;
    background-size: cover;
    /* padding: 150px 0; */
    /* text-align: justify; */
}

.pest-img img {
    position: relative;
    top: 119px;
    height: 545px;
}




.crd-hvr:hover {
    border: 1px solid #d2aa5c !important;
    transition: 700ms;
}

    .crd-hvr:hover span a {
        background-color: #d2aa5c !important;
        transition: 700ms !important;
    }

.frm-btn:hover {
    background-color: #d2aa5c !important;
    border-color: #d2aa5c !important;
    transition: 700ms !important;
}

