
@model IMSWEB.WebsiteProductViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="py-5" style="background-color: #e9e9e9;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="fw-bold" style="font-size:40px;">About Us</h1>
            </div>
        </div>
    </div>
</section>

<section class="about-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 mb-3 mb-lg-0">
                <div class="protfolio text-center overflow-hidden mt-5">
                    <img class="mw-100" src="~/Content/image/About-Image/img 1.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <div>
                    <h1 class="fw-bold text-center text-lg-start display-4">Krishan Agro Chemicals Ltd.</h1>
                    <p class="mb-3" style="color:black; font-size:1.6rem">

                        Krishan Agro Chemicals Ltd. is a prominent player in the chemicals manufacturing industry, renowned for its commitment to quality and innovation. With a strong legacy and a forward-looking approach, the company has carved a niche for itself in the highly competitive chemical sector. Krishan Agro Chemicals Ltd. specializes in producing a wide range of chemical products that cater to various industrial needs, ensuring the highest standards of purity and safety. Their dedication to environmental sustainability and adherence to strict regulatory guidelines make them a responsible and trustworthy choice for customers seeking top-tier chemical solutions. As they continue to expand their product portfolio and embrace cutting-edge technologies, Krishan Agro Chemicals Ltd. remains a dependable partner for businesses across multiple sectors, striving to meet the ever-evolving demands of today's dynamic markets
                    </p>


                    <div class="d-flex gap-md-5">
                        <ul class="me-md-5" style="font-size: 1.6rem">
                            <li style="list-style: none;">
                                <span><i class="fa-solid fa-caret-down fa-rotate-270"></i></span>
                                Pest Control
                            </li>
                            <li style="list-style: none;">
                                <span><i class="fa-solid fa-caret-down fa-rotate-270"></i></span>
                                Termite Control
                            </li>
                        </ul>
                        <ul class="ms-md-5 ms-lg-0" style="font-size: 1.6rem">
                            <li style="list-style: none;">
                                <span><i class="fa-solid fa-caret-down fa-rotate-270"></i></span>
                                Lawn Treatment
                            </li>
                            <li style="list-style: none;">
                                <span><i class="fa-solid fa-caret-down fa-rotate-270"></i></span>
                                Rodent Control
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="safe-section  py-5">
    <div class="container">
        <div class="text-center text-white mb-5">
            <h3>Critical Environment Cleaning</h3>
            <h1 class="fw-bold mt-3 display-3">Safe and Effective Cleaning</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="text-white p-3">
                    <h1 class="fw-bold mb-4">Domestic Pest Control Service</h1>
                    <p class="text-justify text-white" style="font-size:1.5rem;">
                        Imperdiet dui accumsan sit amet nulla facilisi. Augue neque gravida in fermentum et sollicitudin ac orci phasellus. Tristique sollicitudin nibh sit amet commodo nulla. Lacus vel facilisis volutpat est velit. Turpis massa tincidunt dui ut ornare. Porttitor eget dolor morbi non arcu.
                    </p>
                </div>

            </div>
            <div class="col-12 col-md-6">
                <div class="text-white p-3">
                    <h1 class="fw-bold mb-4">Commercial Pest Control Service</h1>
                    <p class="text-justify text-white"style="font-size:1.5rem;">
                        Egestas dui id ornare arcu odio ut. Sed viverra tellus in hac habitasse platea dictumst vestibulum. Mauris commodo quis imperdiet massa tincidunt nunc. Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Est ante in nibh mauris cursus mattis molestie a iaculis.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pest-control py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 text-center text-md-start ">
                <div class="mb-5">
                    <h1 class="mb-3 fw-bold display-4 text-lg-start mt-md-5 pt-md-5"> Pest Control & Exterminator Service</h1>
                    <p class="text-justify text-md-start text-dark" style="font-size:1.6rem;">
                        Mauris vitae ultricies leo integer malesuada nunc. Quis ipsum suspendisse ultrices gravida dictum fusce. Mauris vitae ultricies leo integer malesuada nunc vel risus commodo. Ornare quam viverra orci sagittis eu volutpat. Erat velit scelerisque in dictum non. Eu feugiat pretium nibh ipsum. Lacus sed turpis tincidunt id aliquet risus feugiat in. Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper.
                    </p>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="mb-5">
                            <h2 class="fw-bold mb-4 text-md-start"><span class="lead fs-3 fw-bold" style="font-weight: 600; color: gray;">01</span> Biological Pest Control</h2>
                            <p class="fs-3 text-dark"style="text-align:justify;">
                                Arcu felis bibendum ut tristique et egestas quis ipsum. At tempor commodo ullamcorper a lacus vestibulum.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="mb-5">
                            <h2 class="fw-bold mb-4 text-md-start"><span class="lead fs-3 fw-bold " style="font-weight: 600; color: gray;">02</span> Biological Pest Control</h2>
                            <p class="fs-3 text-dark" style="text-align:justify;">
                                Arcu felis bibendum ut tristique et egestas quis ipsum. At tempor commodo ullamcorper a lacus vestibulum.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="mb-5">
                            <h2 class="fw-bold mb-4 text-md-start"><span class="lead fs-3 fw-bold" style="font-weight: 600; color: gray;">03</span> Biological Pest Control</h2>
                            <p class="fs-3 text-dark" style="text-align:justify;">
                                Arcu felis bibendum ut tristique et egestas quis ipsum. At tempor commodo ullamcorper a lacus vestibulum.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="mb-5">
                            <h2 class="fw-bold mb-sm-4 text-md-start"><span class="lead fs-3 fw-bold" style="font-weight: 600; color: gray;">04</span> Biological Pest Control</h2>
                            <p class="fs-3 text-dark" style="text-align:justify;">
                                Arcu felis bibendum ut tristique et egestas quis ipsum. At tempor commodo ullamcorper a lacus vestibulum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="pest-img text-center text-lg-start mb-5 mb-lg-0">
                    <img class="mw-100" style="height:400px;" src="~/Content/image/About-Image/abo-01_2048x2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


